<p-button
  (click)="goBack()"
  class="admin-btn"
  label="Admin"
  type="p-button"
  styleClass="p-button"
></p-button>



<p-table [value]="soldArr" #dt1 [globalFilterFields]="['productName']">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          [(ngModel)]="searchText"
          (input)="dt1.filterGlobal(searchText, 'contains')"
          placeholder="Search keyword"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Bought Date</th>
      <th>User</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.productName }}</td>
      <td>{{ product.price }} $</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.quantity * product.price }} $</td>
      <td>{{ product.dateTime | date : "dd/MM/yyyy" }}</td>
      <td>{{ product.authName }}</td>
      <td>
        <button
          (click)="onDelSoldProduct(product.id)"
          pButton
          pRipple
          type="button"
          icon="pi pi-times-circle"
          class="p-button-rounded p-button-text p-button-danger"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
