<form class="form" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <input
      type="text"
      name="username"
      placeholder="მომხმარებელი ან საიდენტიფიკაციო კოდი"
      [(ngModel)]="username"
    />
    <input
      type="password"
      name="password"
      placeholder="პაროლი"
      [(ngModel)]="password"
    />
  </div>

  <button type="submit" class="btn-sub">ავტორიზაცია</button>
</form>

<h1 class="er-msg" [ngClass]="message === 'success' ? 'green' : 'red'">
  {{ message }}
</h1>
